@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#map {
  height: 1000px;
  width: auto;
  /* position: absolute; */
}

.btn {
  float: right;
}

#searchbar {
  /* margin-right: 3em; */
  height: 100vh;

}

.switch {
  bottom: 0;
  right: 0;
}

.results-box {
  height: 500px;
  width: auto;
  padding-top: 3em;
}

.navbar {
  background-color: #12849A;
}

.options-box {
  
}

/* .options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: center;
  margin-top: 1em;
} */
#pano {
  width: 200px;
}

.page-footer {
  align-content: center;
}

.brand-pic {
  height: 4em;
  width: auto;
  padding-top: 4px;
}